<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <img src="https://placebear.com/80/80" alt="Lorenzo Borghs" />
      </div>
      <div class="media-content">
        <p class="title">Lorenzo Borghs</p>
        <!-- Name -->
        <p class="subtitle">Front-End Developer</p>
        <!-- Position -->
      </div>
      <div class="media-right is-flex is-align-items-center">
        <span class="icon mr-2"><i class="far fa-star"></i></span>
        <!-- Change "far" class to "fas" when favorite -->
        <a class="button">Bekijken</a>
      </div>
    </div>
    <div class="content">
      <div>
        <span class="icon mr-2"><i class="fas fa-calendar"></i></span>
        <span>23 augustus 1992</span>
        <!-- Date -->
      </div>
      <div>
        <span class="icon mr-2"><i class="fas fa-building"></i></span>
        <span>Turnhout</span>
        <!-- Location -->
      </div>
      <div>
        <span class="icon mr-2"><i class="fas fa-business-time"></i></span>
        <span>5 jaar</span>
        <!-- Years Experience -->
      </div>
      <div class="tags mt-5">
        <!-- Tags -->
        <span class="tag is-primary">Angular</span>
        <span class="tag">React</span>
        <span class="tag">Javascript</span>
      </div>
    </div>
  </div>
</div>
